/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

/* Importing component files */
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/card.css");


/* General style rules for fonts and colors */
body {
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}

body {
	background-color: #FBF3E4;

}

@media (max-width:760px) {
	.container {
		width:600px;
	}
}

@media (max-width:500px) {

	.container {
		width:400px;
	}
