.banner {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(https://www.notontds.org/wp-content/uploads/2021/02/02-1024x576.jpg);
	color:white;
	padding: 70px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	color: white;
	font-size: 50px;
}

.banner h2 {
	color: white;
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}

.banner p {
	padding-bottom: 10px;
}